*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background:linear-gradient(135deg, #e8f8ec, #ffffff);
    min-height: 100vh;
    font-family: Arial, sans-serif;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  box-sizing: border-box;
}

.header h2 {
  color:  #078807;
  font-size: 28px;
}

.nav_link {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav_link a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
}
/* for hero  */
.hero{
    padding: 120px 20px;
    text-align: center;
}
.hero h1{
    color:  #078807;
    font-size: 48px;
}
.hero p{
    font-size: 20px;
    margin-top: 15px;
   
}
.hero button{
    margin-top: 20px;
    padding: 12px 24px;
    border: none;
    background-color:  #078807;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
.hero button:hover{
   background-color: rgb(14, 177, 14);
}